{ "swagger": "2.0", "info": { "title": "Snippets API", "description": "Test description", "termsOfService": "https://www.google.com/policies/terms/", "contact": { "email": "contact@snippets.local" }, "license": { "name": "BSD License" }, "version": "v1" }, "host": "cetelem.disgem.org", "schemes": [ "http" ], "basePath": "/api", "consumes": [ "application/json" ], "produces": [ "application/json" ], "securityDefinitions": { "Basic": { "type": "basic" } }, "security": [ { "Basic": [ ] } ], "paths": { "/admin/area/": { "get": { "operationId": "admin_area_list", "description": "", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/AreaList" } } } }, "tags": [ "admin" ] }, "post": { "operationId": "admin_area_create", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AreaModel" } } ], "responses": { "201": { "description": "", "schema": { "$ref": "#/definitions/AreaModel" } } }, "tags": [ "admin" ] }, "parameters": [ ] }, "/admin/area/myareas/": { "get": { "operationId": "admin_area_myareas", "description": "", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/AreaModel" } } } }, "tags": [ "admin" ] }, "parameters": [ ] }, "/admin/area/{id}/": { "get": { "operationId": "admin_area_read", "description": "", "parameters": [ ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AreaModel" } } }, "tags": [ "admin" ] }, "put": { "operationId": "admin_area_update", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AreaModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AreaModel" } } }, "tags": [ "admin" ] }, "patch": { "operationId": "admin_area_partial_update", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AreaModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AreaModel" } } }, "tags": [ "admin" ] }, "delete": { "operationId": "admin_area_delete", "description": "", "parameters": [ ], "responses": { "204": { "description": "" } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this area.", "required": true, "type": "integer" } ] }, "/admin/area/{id}/addexecutive/": { "put": { "operationId": "admin_area_addexecutive", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AreaModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AreaModel" } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this area.", "required": true, "type": "integer" } ] }, "/admin/area/{id}/executives/": { "get": { "operationId": "admin_area_executives", "description": "", "parameters": [ ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AreaModel" } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this area.", "required": true, "type": "integer" } ] }, "/admin/area/{id}/removeexecutive/": { "put": { "operationId": "admin_area_removeexecutive", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AreaModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AreaModel" } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this area.", "required": true, "type": "integer" } ] }, "/admin/area/{id}/teachers/": { "get": { "operationId": "admin_area_teachers", "description": "", "parameters": [ ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AreaModel" } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this area.", "required": true, "type": "integer" } ] }, "/admin/classroom/": { "get": { "operationId": "admin_classroom_list", "description": "", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/ClassRoomList" } } } }, "tags": [ "admin" ] }, "post": { "operationId": "admin_classroom_create", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/ClassRoomModel" } } ], "responses": { "201": { "description": "", "schema": { "$ref": "#/definitions/ClassRoomModel" } } }, "tags": [ "admin" ] }, "parameters": [ ] }, "/admin/classroom/myclassrooms/": { "get": { "operationId": "admin_classroom_myclassrooms", "description": "", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/ClassRoomModel" } } } }, "tags": [ "admin" ] }, "parameters": [ ] }, "/admin/classroom/{id}/": { "get": { "operationId": "admin_classroom_read", "description": "", "parameters": [ ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/ClassRoomModel" } } }, "tags": [ "admin" ] }, "put": { "operationId": "admin_classroom_update", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/ClassRoomModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/ClassRoomModel" } } }, "tags": [ "admin" ] }, "patch": { "operationId": "admin_classroom_partial_update", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/ClassRoomModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/ClassRoomModel" } } }, "tags": [ "admin" ] }, "delete": { "operationId": "admin_classroom_delete", "description": "", "parameters": [ ], "responses": { "204": { "description": "" } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this class room.", "required": true, "type": "integer" } ] }, "/admin/classroom/{id}/addteacher/": { "put": { "operationId": "admin_classroom_addteacher", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/ClassRoomModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/ClassRoomModel" } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this class room.", "required": true, "type": "integer" } ] }, "/admin/classroom/{id}/removeteacher/": { "put": { "operationId": "admin_classroom_removeteacher", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/ClassRoomModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/ClassRoomModel" } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this class room.", "required": true, "type": "integer" } ] }, "/admin/classroom/{id}/teachers/": { "get": { "operationId": "admin_classroom_teachers", "description": "", "parameters": [ ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/ClassRoomModel" } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this class room.", "required": true, "type": "integer" } ] }, "/admin/daily-study/": { "get": { "operationId": "admin_daily-study_list", "description": "", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" }, { "name": "user__classroom", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "is_validated", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "user", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "user__classroom__area", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "begining", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "end", "in": "query", "description": "", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/DailyStudyList" } } } }, "tags": [ "admin" ] }, "parameters": [ ] }, "/admin/daily-study/today/user/{user_id}/": { "get": { "operationId": "admin_daily-study_today_today", "description": "", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" }, { "name": "user__classroom", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "is_validated", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "user", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "user__classroom__area", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "begining", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "end", "in": "query", "description": "", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/AdminDailyStudyModel" } } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "user_id", "in": "path", "required": true, "type": "string" } ] }, "/admin/daily-study/total/": { "get": { "operationId": "admin_daily-study_total", "description": "", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" }, { "name": "user__classroom", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "is_validated", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "user", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "user__classroom__area", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "begining", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "end", "in": "query", "description": "", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/AdminDailyStudyModel" } } } }, "tags": [ "admin" ] }, "parameters": [ ] }, "/admin/daily-study/{id}/": { "get": { "operationId": "admin_daily-study_read", "description": "", "parameters": [ ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AdminDailyStudyModel" } } }, "tags": [ "admin" ] }, "put": { "operationId": "admin_daily-study_update", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AdminDailyStudyModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AdminDailyStudyModel" } } }, "tags": [ "admin" ] }, "patch": { "operationId": "admin_daily-study_partial_update", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AdminDailyStudyModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AdminDailyStudyModel" } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this daily study.", "required": true, "type": "integer" } ] }, "/admin/daily-study/{id}/invalidate/": { "put": { "operationId": "admin_daily-study_invalidate", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AdminDailyStudyModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AdminDailyStudyModel" } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this daily study.", "required": true, "type": "integer" } ] }, "/admin/daily-study/{id}/validate/": { "put": { "operationId": "admin_daily-study_validate", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AdminDailyStudyModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AdminDailyStudyModel" } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this daily study.", "required": true, "type": "integer" } ] }, "/admin/region/myregion/": { "get": { "operationId": "admin_region_myregion", "description": "", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/RegionModel" } } } }, "tags": [ "admin" ] }, "parameters": [ ] }, "/admin/user-syllabus/": { "get": { "operationId": "admin_user-syllabus_list", "description": "", "parameters": [ { "name": "user", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "user__classroom", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "content__syllabus", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "is_validated", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/AdminUserSyllabusModel" } } } }, "tags": [ "admin" ] }, "post": { "operationId": "admin_user-syllabus_create", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AdminUserSyllabusModel" } } ], "responses": { "201": { "description": "", "schema": { "$ref": "#/definitions/AdminUserSyllabusModel" } } }, "tags": [ "admin" ] }, "parameters": [ ] }, "/admin/user-syllabus/notvalidated/user/{user_id}/": { "get": { "operationId": "admin_user-syllabus_notvalidated_notvalidated", "description": "", "parameters": [ { "name": "user", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "user__classroom", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "content__syllabus", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "is_validated", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/AdminUserSyllabusModel" } } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "user_id", "in": "path", "required": true, "type": "string" } ] }, "/admin/user-syllabus/{id}/": { "get": { "operationId": "admin_user-syllabus_read", "description": "", "parameters": [ ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AdminUserSyllabusModel" } } }, "tags": [ "admin" ] }, "put": { "operationId": "admin_user-syllabus_update", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AdminUserSyllabusModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AdminUserSyllabusModel" } } }, "tags": [ "admin" ] }, "patch": { "operationId": "admin_user-syllabus_partial_update", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AdminUserSyllabusModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AdminUserSyllabusModel" } } }, "tags": [ "admin" ] }, "delete": { "operationId": "admin_user-syllabus_delete", "description": "", "parameters": [ ], "responses": { "204": { "description": "" } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this user syllabus.", "required": true, "type": "integer" } ] }, "/admin/user-syllabus/{id}/invalidate/": { "put": { "operationId": "admin_user-syllabus_invalidate", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AdminUserSyllabusModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AdminUserSyllabusModel" } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this user syllabus.", "required": true, "type": "integer" } ] }, "/admin/user-syllabus/{id}/validate/": { "put": { "operationId": "admin_user-syllabus_validate", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AdminUserSyllabusModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AdminUserSyllabusModel" } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this user syllabus.", "required": true, "type": "integer" } ] }, "/admin/user/": { "get": { "operationId": "admin_user_list", "description": "", "parameters": [ { "name": "classroom", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/UserList" } } } }, "tags": [ "admin" ] }, "post": { "operationId": "admin_user_create", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AdminUserModel" } } ], "responses": { "201": { "description": "", "schema": { "$ref": "#/definitions/AdminUserModel" } } }, "tags": [ "admin" ] }, "parameters": [ ] }, "/admin/user/classroom/{classroom_id}/": { "get": { "operationId": "admin_user_classroom", "description": "", "parameters": [ { "name": "classroom", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/AdminUserModel" } } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "classroom_id", "in": "path", "required": true, "type": "string" } ] }, "/admin/user/getallmyuser/": { "get": { "operationId": "admin_user_getallmyuser", "description": "burayı normalde get_queryset()'i override ederek yazacaktık ancak her api call'da bu filtrenin çalışacaktı.\nbunun önüne geçmek için yetkili olduğu userları çekebilmek için bu endpoint kullanılacak", "parameters": [ { "name": "classroom", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/AdminUserModel" } } } }, "tags": [ "admin" ] }, "parameters": [ ] }, "/admin/user/{id}/": { "get": { "operationId": "admin_user_read", "description": "", "parameters": [ ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AdminUserModel" } } }, "tags": [ "admin" ] }, "put": { "operationId": "admin_user_update", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AdminUserModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AdminUserModel" } } }, "tags": [ "admin" ] }, "patch": { "operationId": "admin_user_partial_update", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AdminUserModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AdminUserModel" } } }, "tags": [ "admin" ] }, "delete": { "operationId": "admin_user_delete", "description": "", "parameters": [ ], "responses": { "204": { "description": "" } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this user.", "required": true, "type": "integer" } ] }, "/admin/user/{id}/changeclassroom/": { "put": { "operationId": "admin_user_changeclassroom", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AdminUserModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AdminUserModel" } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this user.", "required": true, "type": "integer" } ] }, "/admin/user/{id}/makeexecutive/": { "put": { "operationId": "admin_user_makeexecutive", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AdminUserModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AdminUserModel" } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this user.", "required": true, "type": "integer" } ] }, "/admin/user/{id}/makestudent/": { "put": { "operationId": "admin_user_makestudent", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AdminUserModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AdminUserModel" } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this user.", "required": true, "type": "integer" } ] }, "/admin/user/{id}/maketeacher/": { "put": { "operationId": "admin_user_maketeacher", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/AdminUserModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AdminUserModel" } } }, "tags": [ "admin" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this user.", "required": true, "type": "integer" } ] }, "/area/{id}/": { "get": { "operationId": "area_read", "description": "", "parameters": [ ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/AreaModel" } } }, "tags": [ "area" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this area.", "required": true, "type": "integer" } ] }, "/classroom/{id}/": { "get": { "operationId": "classroom_read", "description": "", "parameters": [ ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/ClassRoomModel" } } }, "tags": [ "classroom" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this class room.", "required": true, "type": "integer" } ] }, "/content/": { "get": { "operationId": "content_list", "description": "", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/ContentModel" } } } }, "tags": [ "content" ] }, "parameters": [ ] }, "/content/{id}/": { "get": { "operationId": "content_read", "description": "", "parameters": [ ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/ContentModel" } } }, "tags": [ "content" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this content.", "required": true, "type": "integer" } ] }, "/course-group/": { "get": { "operationId": "course-group_list", "description": "", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/CourseGroupList" } } } }, "tags": [ "course-group" ] }, "parameters": [ ] }, "/course-group/mycourses/": { "get": { "operationId": "course-group_mycourses", "description": "", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/CourseGroupModel" } } } }, "tags": [ "course-group" ] }, "parameters": [ ] }, "/course-group/user/{user_id}/": { "get": { "operationId": "course-group_user", "description": "", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/CourseGroupModel" } } } }, "tags": [ "course-group" ] }, "parameters": [ { "name": "user_id", "in": "path", "required": true, "type": "string" } ] }, "/course-group/{id}/": { "get": { "operationId": "course-group_read", "description": "", "parameters": [ ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/CourseGroupModel" } } }, "tags": [ "course-group" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this course groups.", "required": true, "type": "integer" } ] }, "/course/": { "get": { "operationId": "course_list", "description": "", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/CourseModel" } } } }, "tags": [ "course" ] }, "parameters": [ ] }, "/course/{id}/": { "get": { "operationId": "course_read", "description": "", "parameters": [ ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/CourseModel" } } }, "tags": [ "course" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this course.", "required": true, "type": "integer" } ] }, "/daily-study/": { "get": { "operationId": "daily-study_list", "description": "", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" }, { "name": "user__classroom", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "is_validated", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "user", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "user__classroom__area", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "begining", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "end", "in": "query", "description": "", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/DailyStudyList" } } } }, "tags": [ "daily-study" ] }, "parameters": [ ] }, "/daily-study/date/": { "get": { "operationId": "daily-study_date", "description": ":param ?date=2019-03-27 şeklinde parametre verilecek. girilmezse default döner\n:return: default return today.", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" }, { "name": "user__classroom", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "is_validated", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "user", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "user__classroom__area", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "begining", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "end", "in": "query", "description": "", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/DailyStudyModel" } } } }, "tags": [ "daily-study" ] }, "parameters": [ ] }, "/daily-study/today/": { "get": { "operationId": "daily-study_today", "description": "", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" }, { "name": "user__classroom", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "is_validated", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "user", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "user__classroom__area", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "begining", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "end", "in": "query", "description": "", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/DailyStudyModel" } } } }, "tags": [ "daily-study" ] }, "parameters": [ ] }, "/daily-study/{id}/": { "get": { "operationId": "daily-study_read", "description": "", "parameters": [ ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/DailyStudyModel" } } }, "tags": [ "daily-study" ] }, "put": { "operationId": "daily-study_update", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/DailyStudyModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/DailyStudyModel" } } }, "tags": [ "daily-study" ] }, "patch": { "operationId": "daily-study_partial_update", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/DailyStudyModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/DailyStudyModel" } } }, "tags": [ "daily-study" ] }, "parameters": [ { "name": "id", "in": "path", "required": true, "type": "string" } ] }, "/kayit": { "post": { "operationId": "kayit_create", "description": "", "parameters": [ ], "responses": { "201": { "description": "" } }, "tags": [ "kayit" ] }, "parameters": [ ] }, "/login": { "post": { "operationId": "login_create", "description": "", "parameters": [ ], "responses": { "201": { "description": "" } }, "tags": [ "login" ] }, "parameters": [ ] }, "/region/{id}/": { "get": { "operationId": "region_read", "description": "", "parameters": [ ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/RegionModel" } } }, "tags": [ "region" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this region.", "required": true, "type": "integer" } ] }, "/report/daily-study/admin/": { "get": { "operationId": "report_daily-study_admin", "description": "", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/ResportSerialzier" } } } }, "tags": [ "report" ] }, "parameters": [ ] }, "/syllabus/": { "get": { "operationId": "syllabus_list", "description": "", "parameters": [ { "name": "level", "in": "query", "description": "", "required": false, "type": "number" }, { "name": "course", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/SyllabusModel" } } } }, "tags": [ "syllabus" ] }, "parameters": [ ] }, "/syllabus/level/{level}/courses/": { "get": { "operationId": "syllabus_level_levelcourses", "description": "", "parameters": [ { "name": "level", "in": "query", "description": "", "required": false, "type": "number" }, { "name": "course", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/SyllabusModel" } } } }, "tags": [ "syllabus" ] }, "parameters": [ { "name": "level", "in": "path", "required": true, "type": "integer" } ] }, "/syllabus/levels/": { "get": { "operationId": "syllabus_levels", "description": "", "parameters": [ { "name": "level", "in": "query", "description": "", "required": false, "type": "number" }, { "name": "course", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/SyllabusModel" } } } }, "tags": [ "syllabus" ] }, "parameters": [ ] }, "/syllabus/{id}/": { "get": { "operationId": "syllabus_read", "description": "", "parameters": [ ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/SyllabusModel" } } }, "tags": [ "syllabus" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this syllabus.", "required": true, "type": "integer" } ] }, "/syllabus/{id}/contents/": { "get": { "operationId": "syllabus_contents", "description": "", "parameters": [ ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/SyllabusModel" } } }, "tags": [ "syllabus" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this syllabus.", "required": true, "type": "integer" } ] }, "/user-syllabus/": { "get": { "operationId": "user-syllabus_list", "description": "", "parameters": [ { "name": "content__syllabus__level", "in": "query", "description": "", "required": false, "type": "number" }, { "name": "content__syllabus__course", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "is_validated", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/UserSyllabusModel" } } } }, "tags": [ "user-syllabus" ] }, "post": { "operationId": "user-syllabus_create", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/UserSyllabusModel" } } ], "responses": { "201": { "description": "", "schema": { "$ref": "#/definitions/UserSyllabusModel" } } }, "tags": [ "user-syllabus" ] }, "parameters": [ ] }, "/user-syllabus/level/{level}/course/{course_id}/": { "get": { "operationId": "user-syllabus_level_contents", "description": "", "parameters": [ { "name": "content__syllabus__level", "in": "query", "description": "", "required": false, "type": "number" }, { "name": "content__syllabus__course", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "is_validated", "in": "query", "description": "", "required": false, "type": "string" }, { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/UserSyllabusModel" } } } }, "tags": [ "user-syllabus" ] }, "parameters": [ { "name": "course_id", "in": "path", "required": true, "type": "string" }, { "name": "level", "in": "path", "required": true, "type": "string" } ] }, "/user-syllabus/{id}/": { "get": { "operationId": "user-syllabus_read", "description": "", "parameters": [ ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/UserSyllabusModel" } } }, "tags": [ "user-syllabus" ] }, "delete": { "operationId": "user-syllabus_delete", "description": "", "parameters": [ ], "responses": { "204": { "description": "" } }, "tags": [ "user-syllabus" ] }, "parameters": [ { "name": "id", "in": "path", "required": true, "type": "string" } ] }, "/user/me/": { "get": { "operationId": "user_me", "description": "", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/UserModel" } } } }, "tags": [ "user" ] }, "parameters": [ ] }, "/user/{id}/": { "put": { "operationId": "user_update", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/UserModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/UserModel" } } }, "tags": [ "user" ] }, "patch": { "operationId": "user_partial_update", "description": "", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/UserModel" } } ], "responses": { "200": { "description": "", "schema": { "$ref": "#/definitions/UserModel" } } }, "tags": [ "user" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this user.", "required": true, "type": "integer" } ] }, "/v2/user-syllabus/": { "post": { "operationId": "v2_user-syllabus_create", "description": "bu api biraz garip oldu sanırım biraz daha nicelaştırılabilir. müsait bi vakit bak(yıl 2025: hiç müsait vakit olmadı :D )", "parameters": [ { "name": "data", "in": "body", "required": true, "schema": { "$ref": "#/definitions/UserSyllabusCreate" } } ], "responses": { "201": { "description": "", "schema": { "$ref": "#/definitions/UserSyllabusCreate" } } }, "tags": [ "v2" ] }, "parameters": [ ] }, "/v2/user-syllabus/level/{level}/course/{course_id}/": { "get": { "operationId": "v2_user-syllabus_level_contents", "description": "bu api biraz garip oldu sanırım biraz daha nicelaştırılabilir. müsait bi vakit bak(yıl 2025: hiç müsait vakit olmadı :D )", "parameters": [ { "name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string" } ], "responses": { "200": { "description": "", "schema": { "type": "array", "items": { "$ref": "#/definitions/UserSyllabusCreate" } } } }, "tags": [ "v2" ] }, "parameters": [ { "name": "course_id", "in": "path", "required": true, "type": "string" }, { "name": "level", "in": "path", "required": true, "type": "string" } ] }, "/v2/user-syllabus/{id}/": { "delete": { "operationId": "v2_user-syllabus_delete", "description": "bu api biraz garip oldu sanırım biraz daha nicelaştırılabilir. müsait bi vakit bak(yıl 2025: hiç müsait vakit olmadı :D )", "parameters": [ ], "responses": { "204": { "description": "" } }, "tags": [ "v2" ] }, "parameters": [ { "name": "id", "in": "path", "description": "A unique integer value identifying this user syllabus.", "required": true, "type": "integer" } ] } }, "definitions": { "AreaList": { "required": [ "name" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "name": { "title": "Name", "type": "string", "minLength": 1 } } }, "AreaModel": { "required": [ "name" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "created": { "title": "Created", "type": "string", "format": "date-time", "readOnly": true }, "modified": { "title": "Modified", "type": "string", "format": "date-time", "readOnly": true }, "name": { "title": "Name", "type": "string", "minLength": 1 }, "description": { "title": "Description", "type": "string" }, "region": { "title": "Region", "type": "integer", "x-nullable": true }, "executives": { "type": "array", "items": { "type": "integer" }, "readOnly": true, "uniqueItems": true } } }, "ClassRoomList": { "required": [ "name" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "name": { "title": "Name", "type": "string", "minLength": 1 }, "area": { "title": "Area", "type": "string", "readOnly": true } } }, "ClassRoomModel": { "required": [ "name" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "created": { "title": "Created", "type": "string", "format": "date-time", "readOnly": true }, "modified": { "title": "Modified", "type": "string", "format": "date-time", "readOnly": true }, "name": { "title": "Name", "type": "string", "minLength": 1 }, "description": { "title": "Description", "type": "string" }, "area": { "title": "Area", "type": "integer", "x-nullable": true }, "teachers": { "type": "array", "items": { "type": "integer" }, "readOnly": true, "uniqueItems": true } } }, "DailyStudyList": { "required": [ "user" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "user": { "title": "User", "type": "integer" }, "created_day": { "title": "Created day", "type": "string", "format": "date" }, "is_validated": { "title": "Is validated", "type": "boolean" } } }, "StudyModel": { "required": [ "course", "begining", "end", "amount" ], "type": "object", "properties": { "course_name": { "title": "Course name", "type": "string", "readOnly": true }, "course": { "title": "Course", "type": "integer" }, "begining": { "title": "Begining", "type": "number" }, "end": { "title": "End", "type": "number" }, "amount": { "title": "Amount", "type": "number" } } }, "AdminDailyStudyModel": { "required": [ "studies", "user" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "studies": { "type": "array", "items": { "$ref": "#/definitions/StudyModel" } }, "user": { "title": "User", "type": "integer" }, "created_day": { "title": "Created day", "type": "string", "format": "date", "readOnly": true }, "timestamp": { "title": "Timestamp", "type": "string", "format": "date-time", "readOnly": true }, "updated": { "title": "Updated", "type": "string", "format": "date-time", "readOnly": true }, "is_validated": { "title": "Is validated", "type": "boolean", "readOnly": true }, "validate_time": { "title": "Validate time", "type": "string", "format": "date-time", "readOnly": true }, "validator_user": { "title": "Validator user", "type": "integer", "readOnly": true } } }, "RegionModel": { "required": [ "name" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "created": { "title": "Created", "type": "string", "format": "date-time", "readOnly": true }, "modified": { "title": "Modified", "type": "string", "format": "date-time", "readOnly": true }, "name": { "title": "Name", "type": "string", "minLength": 1 }, "description": { "title": "Description", "type": "string" }, "admins": { "type": "array", "items": { "type": "integer" }, "uniqueItems": true } } }, "AdminUserSyllabusModel": { "required": [ "user", "content" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "user": { "title": "User", "type": "integer" }, "content": { "title": "Content", "type": "integer" }, "is_validated": { "title": "Is validated", "type": "boolean", "readOnly": true }, "validate_time": { "title": "Validate time", "type": "string", "format": "date-time", "readOnly": true }, "validator_user": { "title": "Validator user", "type": "integer", "x-nullable": true } } }, "UserList": { "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "first_name": { "title": "First name", "type": "string", "maxLength": 30 }, "last_name": { "title": "Last name", "type": "string", "maxLength": 150 }, "user_type": { "title": "User type", "type": "integer", "enum": [ 1, 2, 4, 8 ], "x-nullable": true } } }, "AdminUserModel": { "required": [ "username", "first_name", "last_name", "course_group", "joined_date" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "username": { "title": "Username", "type": "string", "maxLength": 30, "minLength": 3 }, "password": { "title": "Password", "type": "string", "maxLength": 30, "minLength": 3 }, "first_name": { "title": "First name", "type": "string", "maxLength": 30, "minLength": 3 }, "last_name": { "title": "Last name", "type": "string", "maxLength": 30, "minLength": 3 }, "phone_number": { "title": "Phone number", "type": "string", "maxLength": 11 }, "user_type": { "title": "User type", "type": "integer", "enum": [ 1, 2, 4, 8 ], "readOnly": true }, "classroom": { "title": "Classroom", "type": "integer", "readOnly": true }, "course_group": { "title": "Course group", "type": "integer" }, "joined_date": { "title": "Joined date", "type": "string", "format": "date" } } }, "ContentModel": { "required": [ "name", "week", "syllabus" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "name": { "title": "Name", "type": "string", "minLength": 1 }, "description": { "title": "Description", "type": "string" }, "week": { "title": "Week", "type": "integer", "maximum": 32767, "minimum": -32768 }, "syllabus": { "title": "Syllabus", "type": "integer" } } }, "CourseGroupList": { "required": [ "name" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "name": { "title": "Name", "type": "string", "minLength": 1 } } }, "CourseGroupModel": { "required": [ "name", "courses" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "name": { "title": "Name", "type": "string", "minLength": 1 }, "description": { "title": "Description", "type": "string" }, "courses": { "type": "array", "items": { "type": "integer" }, "uniqueItems": true } } }, "CourseModel": { "required": [ "name" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "name": { "title": "Name", "type": "string", "minLength": 1 }, "description": { "title": "Description", "type": "string" }, "importance": { "title": "Importance", "type": "integer", "maximum": 2147483647, "minimum": -2147483648 } } }, "DailyStudyModel": { "required": [ "studies" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "studies": { "type": "array", "items": { "$ref": "#/definitions/StudyModel" } }, "created_day": { "title": "Created day", "type": "string", "format": "date", "readOnly": true }, "timestamp": { "title": "Timestamp", "type": "string", "format": "date-time", "readOnly": true }, "updated": { "title": "Updated", "type": "string", "format": "date-time", "readOnly": true }, "is_validated": { "title": "Is validated", "type": "boolean", "readOnly": true }, "validate_time": { "title": "Validate time", "type": "string", "format": "date-time", "readOnly": true }, "user": { "title": "User", "type": "integer", "readOnly": true }, "validator_user": { "title": "Validator user", "type": "integer", "readOnly": true } } }, "ResportSerialzier": { "type": "object", "properties": { } }, "Course": { "title": "Course", "required": [ "name" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "name": { "title": "Name", "type": "string", "minLength": 1 } } }, "SyllabusModel": { "required": [ "level", "course", "contents" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "level": { "title": "Level", "type": "integer", "maximum": 32767, "minimum": -32768 }, "course": { "$ref": "#/definitions/Course" }, "contents": { "type": "array", "items": { "$ref": "#/definitions/ContentModel" } } } }, "UserSyllabusModel": { "required": [ "content" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "content": { "title": "Content", "type": "integer" }, "is_validated": { "title": "Is validated", "type": "boolean", "readOnly": true }, "validate_time": { "title": "Validate time", "type": "string", "format": "date-time", "readOnly": true }, "validator_user": { "title": "Validator user", "type": "integer", "x-nullable": true } } }, "UserModel": { "required": [ "username", "first_name", "last_name" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "username": { "title": "Username", "type": "string", "maxLength": 30, "minLength": 3 }, "password": { "title": "Password", "type": "string", "maxLength": 30, "minLength": 3 }, "first_name": { "title": "First name", "type": "string", "maxLength": 30, "minLength": 3 }, "last_name": { "title": "Last name", "type": "string", "maxLength": 30, "minLength": 3 }, "phone_number": { "title": "Phone number", "type": "string", "maxLength": 11 }, "user_type": { "title": "User type", "type": "integer", "enum": [ 1, 2, 4, 8 ], "readOnly": true }, "classroom": { "title": "Classroom", "type": "integer", "readOnly": true }, "course_group": { "title": "Course group", "type": "integer", "readOnly": true }, "joined_date": { "title": "Joined date", "type": "string", "format": "date", "readOnly": true } } }, "UserSyllabusCreate": { "required": [ "content" ], "type": "object", "properties": { "id": { "title": "ID", "type": "integer", "readOnly": true }, "content": { "title": "Content", "type": "integer" }, "is_validated": { "title": "Is validated", "type": "boolean", "readOnly": true }, "validate_time": { "title": "Validate time", "type": "string", "format": "date-time", "readOnly": true }, "validator_user": { "title": "Validator user", "type": "integer", "x-nullable": true } } } } }